
$white: #fff;

$text-color: #585858;
$text-light-color:#bebebe;

$middle-grey: #585858 ;
$light-grey: #bebebe;

$dark-grey-bg: #181818;

// Action colors
// $hover-color:#fafafa;
$success-color:#00ff7a;
$warning-color: #ffce65;
$error-color:#ff3d3d;
$info-color:#67daff;
