.container {
    max-width: 42rem;
    margin: 0 auto;
    padding: 0 0.6rem;
}

.container-fluid {
    margin: 0 auto;
    padding: 0 0.6rem;
}

// with max-width

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: -.8rem 0 .8rem -.8rem;
    &>.col {
        display: block;
        padding: .8rem 0 0 .8rem;
        flex: 1;
        max-width: 100%;
    } 
    
    // flex : flex-grow flex-shrink flex-basis
    // When flex-grow is 0 , it wiil not divide up the remaining space

    @for $i from 1 through 12 {
        &>.col-#{$i} {
            padding: .8rem 0 0 .8rem;
            flex: 0 0 percentage($i / 12);
            max-width: percentage($i / 12);
        }
    }

    @media screen and(max-width:$break-mobile) {
        &.row-full {
            flex-direction: column;
            @for $i from 1 through 12 {
                &>.col-#{$i} {
                padding: .8rem 0 0 .8rem;
                max-width: 100% !important;
                }
            }
        }
    }
}

// with min-width

// .row {
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: row;
//     margin: -0.8rem 0 0.8rem -0.8rem;
//     &>.col {
//         display: block;
//         padding: 0.8rem 0 0 0.8rem;
//         flex: 1;
//         max-width: 100%;
//     } 
    

//     @for $i from 1 through 12 {
//         &>.col-#{$i} {
//             padding: 0.8rem 0 0 0.8rem;
//             flex: 0 0 percentage($i / 12);
//             max-width: percentage($i / 12);
//         }
//     }

//     &.row-full {
//         flex-direction: column;

//         @for $i from 1 through 12 {
//             &>.col-#{$i} {
//             padding: 0.8rem 0 0 0.8rem;
//             max-width: 100% !important;
//             }
//         }
//     }
    
//     @media screen and(min-width:$break-mobile) {
//         &.row-full {
//             flex-direction: row;
//             @for $i from 1 through 12 {
//                 &>.col-#{$i} {
//                 padding: 0.8rem 0 0 0.8rem;
//                 max-width: 100% !important;
//                 }
//             }
//         }
//     }
// }