.table {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 1.2rem;
    & td,
    & th {
        vertical-align:top;
        text-align: left;
        padding: 0.64rem 0.4rem;
        border-style: dashed;
    }
    & thead th {
        font-weight: 700;
    }
}